.celu{
    display: none;
}

.compu{
    display: flex;
    background-color: beige;
}

.container{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.links {
    flex: 1;
}

.item{
    margin-top: 8px;
    justify-content: space-evenly;
    align-items: right;
}

@media (max-width:768px){
    .compu{
        display: none;
    }
    .celu{
        display: block;
    }
    .container{
        display: block;
    }
    .item{
        display: none;
    }
    .links{
        display: block;
    }

    .links:hover>.item{
        display: block;
    }

}